.justify-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-transaction {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 66px;
  margin-left: 79px;
}

.center {
  align-items: center !important;
}

.icon-container {
  display: flex;
}

.icon {
  margin: 5px;
}

.is-bold {
  font-weight: bold !important;
}

.box-overrid {
  margin-bottom: 1rem !important;
  padding: 0.75rem !important;
}
